<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.Charts.WinForms" version="1.1.5" targetFramework="net48" />
  <package id="Bunifu.UI.WinForms" version="5.3.0" targetFramework="net48" />
  <package id="Bunifu.Utils" version="1.0.0" targetFramework="net48" />
  <package id="ClosedXML" version="0.95.4" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.11.3" targetFramework="net48" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net48" />
  <package id="Magick.NET.Core" version="8.4.0" targetFramework="net48" />
  <package id="Magick.NET-Q16-AnyCPU" version="8.4.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="96.0.4664.4500" targetFramework="net48" />
  <package id="SpreadsheetLight" version="3.5.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.7.0" targetFramework="net48" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net48" />
</packages>